## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [46]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Weather Description,Max Temp,Lat,Lng,Hotel Name
0,0,Rikitea,PF,light rain,78.82,-23.1203,-134.9692,NaN
1,7,Busselton,AU,overcast clouds,80.28,-33.6500,115.3333,NaN
2,9,Cayenne,GF,scattered clouds,79.00,4.9333,-52.3333,NaN
3,14,Bambous Virieux,MU,broken clouds,84.99,-20.3428,57.7575,NaN
4,17,Kavaratti,IN,scattered clouds,83.68,10.5669,72.6420,NaN

In [47]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [48]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Bondo']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Bondo']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Gemena']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Ouadda'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Ndele'] 
vacation_stop1

,City_ID,City,Country,Weather Description,Max Temp,Lat,Lng,Hotel Name
132,539,Gemena,CD,broken clouds,76.14,3.25,19.7667,NaN

In [56]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

start

(3.8146, 23.6866)

In [57]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(38, -122), zoom_level = 7)
bondo = start
gemena = stop1
ouadda = stop2
ndele = stop3 
roadtrip = gmaps.directions_layer(bondo, bondo, 
                                  waypoints=[gemena, ouadda, ndele],
                                  travel_mode="DRIVING")

In [58]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3,vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Weather Description,Max Temp,Lat,Lng,Hotel Name
0,491,Bondo,CD,broken clouds,75.74,3.8146,23.6866,NaN
1,539,Gemena,CD,broken clouds,76.14,3.2500,19.7667,NaN
2,493,Ouadda,CF,scattered clouds,79.38,8.0777,22.4007,NaN
3,100,Ndele,CF,scattered clouds,80.33,8.4109,20.6473,NaN
4,491,Bondo,CD,broken clouds,75.74,3.8146,23.6866,NaN

In [59]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [67]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# fig.add_layer(marker_layer)
fig.add_layer(roadtrip)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))